$background-color-1: #262626;
$background-color-2: #fff;

$default-font: Helvetica, Arial, sans-serif;

@mixin reset_margin_and_padding
{
    margin: 0px;
    padding: 0px;
}


.container-fluid
{
    @include reset_margin_and_padding;
    
    header
    {
        position: fixed;
        float: left;
        width: 100%;
        height: 60px;
        background-color: $background-color-1;
        overflow: hidden;
        z-index: 9999;
        
        a.logo
        {
            float: left;
            width: 300px;
            height: 60px;
            margin-left: 25px;
            background-color: red;
        }
        
        nav.center
        {
            float: none;
            width: 400px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            
            a
            {
                float: left;
                height: 60px;
                margin-left: 10px;
                margin-right: 10px;
                font-family: $default-font;
                font-size: 13px;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                color: #b3b3b3;
                transition: 0.5s;
                
                &:hover, &.active
                {
                    color: #fff;
                }
            }
        }
        
        nav.right
        {
            float: right;
            height: 60px;
            margin-right: 25px;
            
            a.action
            {
                float: left;
                width: 100px;
                height: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
                margin-right: 20px;
                font-family: $default-font;
                font-size: 13px;
                line-height: 30px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                border-radius: 6px;
                transition: 0.5s;
                
                &:hover, &.active
                {
                    background-color: #0f9188;
                }
            }
            
            a#show_rwd_menu
            {
                float: right;
                width: 60px;
                height: 60px;
                background-image: url(../img/show_rwd_menu.png);
                display: none;
            }
        }
    } //header
    
    
    .slider_container
    {
        width: 100%;
        max-height: 500px;
        clear: both;
        margin-top: 60px;
        background-color: grey;
        
        img
        {
            width: 100%;
            display: block;
            max-height: 500px;
        }
    }
    
    
    .page_main
    {
        width: 100%;
        clear: both;
        
        h1
        {
            @include reset_margin_and_padding;
            
            width: 100%;
            height: 100px;
            font-family: $default-font;
            font-size: 20px;
            line-height: 100px;
            text-align: center;
            color: #808080;
            background-color: $background-color-2;
            
            a
            {
                width: 100px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                padding: 10px;
                font-family: $default-font;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                //border-radius: 6px;
                transition: 0.5s;
                
                &:hover
                {
                    background-color: #0f9188;
                }
            }
        }
        
        .about
        {
            width: 100%;
            clear: both;
            background-image: url(../img/main_about_bg.png);
            
            .row
            {
                @include reset_margin_and_padding;
                
                .col-md-12
                {
                    h3
                    {
                        width: 100%;
                        margin-top: 100px;
                        font-family: $default-font;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        color: $background-color-1;
                    }
                    
                    p
                    {
                        width: 50%;
                        margin-top: 25px;
                        margin-left: auto;
                        margin-right: auto;
                        font-family: $default-font;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: $background-color-1;
                    }
                    
                    img
                    {
                        width: 40%;
                        display: block;
                        margin-top: 25px;
                        margin-left: auto;
                        margin-right: auto;
                        height: 300px;
                    }
                    
                    a
                    {
                        display: block;
                        width: 30%;
                        height: 40px;
                        margin-top: 25px;
                        margin-bottom: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        font-family: $default-font;
                        font-size: 20px;
                        line-height: 40px;
                        font-weight: bold;
                        text-decoration: none;
                        text-align: center;
                        color: #fff;
                        background-color: #13a89e;
                        border-radius: 6px;
                        transition: 0.5s;

                        &:hover, &.active
                        {
                            background-color: #0f9188;
                        }
                    }
                }
            }
        } //about
        
        .clients
        {
            width: 100%;
            clear: both;
            background-color: $background-color-2;
            padding-bottom: 25px;
            
            h2
            {
                @include reset_margin_and_padding;

                width: 100%;
                margin-top: 50px;
                font-family: $default-font;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
                color: #999999;
            }
            
            .row
            {
                @include reset_margin_and_padding;
                
                .col-md-12
                {
                    .col-md-1
                    {
                        margin-top: 25px;
                        
                        img
                        {
                            width: 100%;
                            display: block;
                        }
                        
                        p
                        {
                            width: 100%;
                            margin-top: 10px;
                            font-family: $default-font;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #bbbbbb;
                        }
                    }
                }
            }
        }
        
        .questions
        {
            width: 100%;
            clear: both;
            
            img
            {
                width: 100%;
                max-height: 350px;
                display: block;
            }
            
            
            .box
            {
                position: absolute;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                
                h3
                {
                    @include reset_margin_and_padding;

                    
                    width: 100%;
                    margin-top: 100px;
                    font-family: $default-font;
                    font-size: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 2px 2px #000;
                }
                    
                a
                {
                    display: block;
                    width: 30%;
                    height: 50px;
                    margin-top: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: $default-font;
                    font-size: 20px;
                    line-height: 50px;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    color: #fff;
                    background-color: #13a89e;
                    transition: 0.5s;

                    &:hover, &.active
                    {
                        background-color: #0f9188;
                    }
                }
            }
        }
    } //page_main
    
    
    .page_register
    {
        width: 100%;
        clear: both;
        margin-top: 60px;
        
        .row
        {
            .col-md-8
            {
                float: none;
                margin-left: auto;
                margin-right: auto;
                
                h1
                {
                    @include reset_margin_and_padding;

                    width: 90%;
                    height: 30px;
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: $default-font;
                    font-size: 30px;
                    line-height: 30px;
                    color: #999999;
                }
                
                form
                {
                    width: 90%;
                    margin-top: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    
                    .form-group
                    {
                        float: left;
                        width: 100%;
                        margin-bottom: 50px;
                        
                        label
                        {
                            width: 100%;
                            font-family: $default-font;
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: normal;
                            color: #9b9b9b;
                        }
                        
                        input
                        {
                            width: 100%;
                            height: 50px;
                            margin-top: 10px;
                            padding-left: 20px;
                            padding-right: 20px;
                            color: #a9a9a9;
                            background-color: #e6e6e6;
                            border: none;
                            box-sizing: border-box;
                        }
                        
                        textarea
                        {
                            width: 100%;
                            height: 300px;
                            margin-top: 10px;
                            padding: 20px;
                            color: #a9a9a9;
                            background-color: #e6e6e6;
                            border: none;
                            box-sizing: border-box;
                        }
                        
                        a#register
                        {
                            float: left;
                            width: 100%;
                            height: 50px;
                            font-family: $default-font;
                            font-size: 20px;
                            line-height: 50px;
                            font-weight: bold;
                            text-decoration: none;
                            text-align: center;
                            color: #fff;
                            background-color: #13a89e;
                            transition: 0.5s;

                            &:hover, &.active
                            {
                                background-color: #0f9188;
                            }
                        }
                        
                        p
                        {
                            width: 100%;
                            height: 14px;
                            font-family: $default-font;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: center;
                            font-weight: bold;
                            color: #13a89e;
                            
                            a
                            {
                                color: #13a89e;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    } //page_register
    
    
    .page_about
    {
        width: 100%;
        clear: both;
        
        h1
        {
            @include reset_margin_and_padding;
            
            width: 100%;
            height: 100px;
            font-family: $default-font;
            font-size: 20px;
            line-height: 100px;
            text-align: center;
            color: #808080;
            background-color: $background-color-2;  
            
            a
            {
                width: 100px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                padding: 10px;
                font-family: $default-font;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                transition: 0.5s;
                
                &:hover
                {
                    background-color: #0f9188;
                }
            }
        }
        
        .content
        {
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #f2f2f2;
            
            p
            {
                width: 60%;
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
                font-family: $default-font;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #666666;
            }
            
            p.v2
            {
                text-align: justify;
            }
        }
    } //page _about
    
    
    footer
    {
        width: 100%;
        height: 120px;
        background-color: $background-color-2;
        clear: both;
        
        p.copyright
        {
            float: left;
            width: 100%;
            font-family: $default-font;
            font-size: 20px;
            line-height: 120px;
            text-align: center;
            color: #999999;
        }
    }
}