$background-color-1: #262626;
$background-color-2: #fff;

$default-font: Helvetica, Arial, sans-serif;

@mixin reset_margin_and_padding
{
    margin: 0px;
    padding: 0px;
}


.container-fluid
{
    @include reset_margin_and_padding;
    
    header
    {
        position: fixed;
        float: left;
        width: 100%;
        height: 60px;
        background-color: $background-color-1;
        overflow: hidden;
        z-index: 9999;
        
        a.logo
        {
            float: left;
            width: 300px;
            height: 60px;
            margin-left: 25px;
            background-color: red;
        }
        
        nav.center
        {
            float: none;
            width: 400px;
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            
            a
            {
                float: left;
                height: 60px;
                margin-left: 10px;
                margin-right: 10px;
                font-family: $default-font;
                font-size: 13px;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                color: #b3b3b3;
                transition: 0.5s;
                
                &:hover, &.active
                {
                    color: #fff;
                }
            }
        }
        
        nav.right
        {
            float: right;
            height: 60px;
            margin-right: 25px;
            
            a.action
            {
                float: left;
                width: 100px;
                height: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
                margin-right: 20px;
                font-family: $default-font;
                font-size: 13px;
                line-height: 30px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                border-radius: 6px;
                transition: 0.5s;
                
                &:hover, &.active
                {
                    background-color: #0f9188;
                }
            }
            
            a#show_rwd_menu
            {
                float: right;
                width: 60px;
                height: 60px;
                background-image: url(../img/show_rwd_menu.png);
                display: none;
            }
        }
    } //header
    
    
    .page_main
    {
        width: 100%;
        clear: both;
        
        img.background_image
        {
            width: 100%;
            display: block;
            margin-top: 60px;
        }
        
        h1
        {
            @include reset_margin_and_padding;
            
            position: absolute;
            width: 100%;
            height: 100px;
            font-family: $default-font;
            font-size: 50px;
            line-height: 100px;
            text-align: center;
            color: #808080;
            background-color: $background-color-2;
        }
        
        .presentation
        {
            width: 100%;
            clear: both;
            background-color: #f2f2f2;
            padding-top: 100px; 
            padding-bottom: 100px; 
            
            .row
            {
                @include reset_margin_and_padding;

                .col-md-8
                {
                    float: none;
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto; 
                    
                    img#main_image
                    {
                        float: left;
                        width: 100%;
                        display: block;
                    }
                }
                
                .col-md-10
                {
                    float: none;
                    margin-top: 50px;
                    margin-left: auto;
                    margin-right: auto; 
                    
                    .col-md-2
                    {
                        img
                        {
                            float: left;
                            width: 100%;
                            margin-bottom: 25px;
                            display: block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        h2
        {
            @include reset_margin_and_padding;
            
            width: 100%;
            height: 100px;
            font-family: $default-font;
            font-size: 30px;
            line-height: 100px;
            text-align: center;
            color: #808080;
            background-color: $background-color-2;
            clear: both;
            
            a
            {
                width: 100px;
                margin-left: 20px;
                padding: 10px;
                font-family: $default-font;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                //border-radius: 6px;
                transition: 0.5s;
                
                &:hover
                {
                    background-color: #0f9188;
                }
            }
        }
        
        .content
        {
            float: left;
            width: 100%;
            padding-top: 50px; 
            padding-bottom: 50px; 
            background-color: #f2f2f2;
            clear: both;
            
            p
            {
                width: 60%;
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
                font-family: $default-font;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #666666;
            }
            
            p.v2
            {
                text-align: justify;
            }
        }
    } //page_main
    
    
    .page_register
    {
        width: 100%;
        clear: both;
        margin-top: 60px;
        
        .row
        {
            .col-md-8
            {
                float: none;
                margin-left: auto;
                margin-right: auto;
                
                h1
                {
                    @include reset_margin_and_padding;

                    width: 90%;
                    height: 30px;
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: $default-font;
                    font-size: 30px;
                    line-height: 30px;
                    color: #999999;
                }
                
                form
                {
                    width: 90%;
                    margin-top: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    
                    .form-group
                    {
                        float: left;
                        width: 100%;
                        margin-bottom: 50px;
                        
                        label
                        {
                            width: 100%;
                            font-family: $default-font;
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: normal;
                            color: #9b9b9b;
                        }
                        
                        input
                        {
                            width: 100%;
                            height: 50px;
                            margin-top: 10px;
                            padding-left: 20px;
                            padding-right: 20px;
                            color: #a9a9a9;
                            background-color: #e6e6e6;
                            border: none;
                            box-sizing: border-box;
                        }
                        
                        textarea
                        {
                            width: 100%;
                            height: 300px;
                            margin-top: 10px;
                            padding: 20px;
                            color: #a9a9a9;
                            background-color: #e6e6e6;
                            border: none;
                            box-sizing: border-box;
                        }
                        
                        a#register
                        {
                            float: left;
                            width: 100%;
                            height: 50px;
                            font-family: $default-font;
                            font-size: 20px;
                            line-height: 50px;
                            font-weight: bold;
                            text-decoration: none;
                            text-align: center;
                            color: #fff;
                            background-color: #13a89e;
                            transition: 0.5s;

                            &:hover, &.active
                            {
                                background-color: #0f9188;
                            }
                        }
                        
                        p
                        {
                            width: 100%;
                            height: 14px;
                            font-family: $default-font;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: center;
                            font-weight: bold;
                            color: #13a89e;
                            
                            a
                            {
                                color: #13a89e;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    } //page_register
    
    
    .page_libary
    {
        width: 100%;
        clear: both;
        margin-top: 60px;
        
        .search_panel
        {
            float: left;
            width: 100%;
            height: 80px;
            padding-left: 25px;
            padding-right: 25px;
            background-color: #e6e6e6;
            box-sizing: border-box;
            
            form
            {
                width: 100%;
                
                input
                {
                    float: left;
                    width: 60%;
                    height: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #a9a9aa;
                    background-color: #fff;
                    border: none;
                    box-sizing: border-box;
                }
                
                a
                {
                    float: left;
                    width: 60px;
                    height: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 10px;
                    background-color: #13a89e;
                    background-image: url(../public_img/search.png);
                    transition: 0.5s;
                    
                    &:hover
                    {
                        background-color: #0f9188;
                    }
                }
            }
        }
        
        .content
        {
            width: 100%;
            clear: both;
            
            .row
            {
                @include reset_margin_and_padding;
                
                .col-md-2
                {
                    background-color: #f2f2f2;
                    padding-bottom: 50px;
                    
                    a
                    {
                        float: left;
                        width: 100%;
                        margin-top: 50px;
                        padding-left: 25px;
                        font-family: $default-font;
                        font-size: 16px;
                        line-height: 16px;
                        text-decoration: none;
                        color: #333333;
                        box-sizing: border-box;
                        transition: 0.5s;
                    
                        &:hover, &.active
                        {
                            color: #13a89e;
                        }
                    }
                }
                
                .col-md-10
                {
                    margin-top: 50px;
                    margin-bottom: 100px;
                    
                    .col-md-4
                    {
                        border: 2px solid #fff;
                        box-sizing: border-box;
                        margin-bottom: 25px;
                        
                        a
                        {
                            float: left;
                            width: 100%;
                            transition: 0.5s;
                            
                            img
                            {
                                float: left;
                                width: 100%;
                                height: 250px;
                                display: block;
                            }
                            
                            p
                            {
                                position: absolute;
                                width: 100%;
                                height: 50px;
                                margin-top: 200px;
                                padding-left: 10px;
                                padding-right: 10px;
                                font-family: $default-font;
                                font-size: 16px;
                                line-height: 50px;
                                text-align: center;
                                color: #000;
                                background-color: #f2f2f2;
                                box-sizing: border-box;
                                overflow: hidden;
                            }
                            
                            &:hover
                            {
                               opacity: 0.5; 
                            }
                        }
                    }
                }
            }
        }
        
    } //page_libary
    
    
    .page_about
    {
        width: 100%;
        clear: both;
        
        img.background_image
        {
            width: 100%;
            display: block;
            margin-top: 60px;
        }
        
        h1
        {
            @include reset_margin_and_padding;
            
            width: 100%;
            height: 100px;
            font-family: $default-font;
            font-size: 20px;
            line-height: 100px;
            text-align: center;
            color: #808080;
            background-color: $background-color-2;  
            
            a
            {
                width: 100px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                padding: 10px;
                font-family: $default-font;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                transition: 0.5s;
                
                &:hover
                {
                    background-color: #0f9188;
                }
            }
        }
        
        .content
        {
            width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #f2f2f2;
            
            p
            {
                width: 60%;
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
                font-family: $default-font;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #666666;
            }
            
            p.v2
            {
                text-align: justify;
            }
        }
    } //page _about
    
    
    .page_object
    {
        width: 100%;
        clear: both;
        
        .top
        {
            width: 100%;
            margin-top: 60px;
        
            img.background_image
            {
                width: 100%;
                max-height: 600px;
                display: block;
            }
            
            .row
            {
                position: absolute;
                width: 100%;
                
                .col-md-5
                {
                    @include reset_margin_and_padding;
                    
                    float: none;
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    
                    .col-md-4
                    {
                        @include reset_margin_and_padding;
                    
                        img
                        {
                            float: left;
                            width: 100%;
                            display: block;
                            box-shadow: 2px 2px #000;
                        }
                    }
                    
                    .col-md-7
                    {
                        @include reset_margin_and_padding;
                        
                        float: right;
                        background-color: #262626;
                        
                        h1
                        {
                            @include reset_margin_and_padding;
                            
                            float: left;
                            width: 100%;
                            font-family: $default-font;
                            font-size: 20px;
                            line-height: 30px;
                            color: #fff;
                        }
                        
                        .col-md-6
                        {
                            margin-top: 25px;
                            margin-bottom: 25px;
                            
                            a 
                            {
                                float: left;
                                width: 100%;
                                transition: 0.5s;
                                
                                img
                                {
                                    width: 100%;
                                    display: block;
                                }
                                
                                &:hover
                                {
                                    opacity: 0.5;
                                }
                            }
                        }
                        
                        .col-md-12
                        {
                            margin-top: 25px;
                            
                            a
                            {
                                float: left;
                                width: 100%;
                                height: 50px;
                                margin-bottom: 25px;
                                font-family: $default-font;
                                font-size: 20px;
                                line-height: 50px;
                                font-weight: bold;
                                text-decoration: none;
                                text-align: center;
                                color: #fff;
                                background-color: #13a89e;
                                transition: 0.5s;

                                &:hover, &.active
                                {
                                    background-color: #0f9188;
                                }
                            }
                        }
                    }
                }
                
            }
        }
        
        .content
        {
            width: 100%;
            clear: both;
            
            .col-md-11
            {
                @include reset_margin_and_padding;
                
                float: none;
                margin-top: 25px;
                margin-bottom: 25px;
                margin-left: auto;
                margin-right: auto;
                
                .col-md-3
                {
                    @include reset_margin_and_padding;
                    
                    padding: 25px;
                    background-color: #f2f2f2;
                    box-sizing: border-box;
                    
                    p.title
                    {
                        @include reset_margin_and_padding;
                        
                        float: left;
                        width: 100%;
                        font-size: 16px;
                        line-height: 16px;
                        color: #4d4d4d;
                        font-weight: bold;
                    }
                    
                    p.txt
                    {
                        @include reset_margin_and_padding;
                        
                        float: left;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 40px;
                        font-size: 14px;
                        line-height: 21px;
                        color: #4d4d4d;
                    }
                    
                    p.justify
                    {
                        text-align: justify;
                    }
                }
                
                .col-md-9
                {
                    padding-left: 25px;
                    padding-right: 25px;
                    box-sizing: border-box;
                    
                    video
                    {
                        float: left;
                        width: 100%;
                        display: block;
                    }
                    
                    form
                    {
                        float: left;
                        width: 100%;
                        
                        .form-group
                        {
                            float: left;
                            width: 100%;
                            margin-bottom: 50px;

                            label
                            {
                                width: 100%;
                                font-family: $default-font;
                                font-size: 16px;
                                line-height: 16px;
                                font-weight: bold;
                                color: #9b9b9b;
                            }

                            input
                            {
                                width: 100%;
                                height: 50px;
                                margin-top: 10px;
                                padding-left: 20px;
                                padding-right: 20px;
                                color: #a9a9a9;
                                background-color: #e6e6e6;
                                border: none;
                                box-sizing: border-box;
                            }

                            textarea
                            {
                                width: 100%;
                                height: 300px;
                                margin-top: 10px;
                                padding: 20px;
                                color: #a9a9a9;
                                background-color: #e6e6e6;
                                border: none;
                                box-sizing: border-box;
                            }

                            select
                            {
                                width: 100%;
                                height: 50px;
                                margin-top: 10px;
                                padding-left: 20px;
                                padding-right: 20px;
                                color: #a9a9a9;
                                background-color: #e6e6e6;
                                border: none;
                                box-sizing: border-box;
                            }

                            a.action
                            {
                                float: left;
                                width: 100%;
                                height: 50px;
                                font-family: $default-font;
                                font-size: 20px;
                                line-height: 50px;
                                font-weight: bold;
                                text-decoration: none;
                                text-align: center;
                                color: #fff;
                                background-color: #13a89e;
                                transition: 0.5s;

                                &:hover, &.active
                                {
                                    background-color: #0f9188;
                                }
                            }

                            p
                            {
                                width: 100%;
                                height: 14px;
                                font-family: $default-font;
                                font-size: 14px;
                                line-height: 14px;
                                text-align: center;
                                font-weight: bold;
                                color: #13a89e;

                                a
                                {
                                    color: #13a89e;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    } //page_object
    
    
    
    footer
    {
        width: 100%;
        height: 120px;
        background-color: $background-color-2;
        clear: both;
        
        p.copyright
        {
            float: left;
            font-family: $default-font;
            font-size: 20px;
            line-height: 120px;
            margin-left: 25px;
            color: #999999;
        }
        
        a.logo
        {
            float: right;
            width: 300px;
            height: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 25px;
            background-color: red;
        }
    }
}