.container-fluid {
  margin: 0px;
  padding: 0px; }
  .container-fluid header {
    position: fixed;
    float: left;
    width: 100%;
    height: 60px;
    background-color: #262626;
    overflow: hidden;
    z-index: 9999; }
    .container-fluid header a.logo {
      float: left;
      width: 300px;
      height: 60px;
      margin-left: 25px;
      background-color: red; }
    .container-fluid header nav.center {
      float: none;
      width: 400px;
      height: 60px;
      margin-left: auto;
      margin-right: auto; }
      .container-fluid header nav.center a {
        float: left;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: #b3b3b3;
        transition: 0.5s; }
        .container-fluid header nav.center a:hover, .container-fluid header nav.center a.active {
          color: #fff; }
    .container-fluid header nav.right {
      float: right;
      height: 60px;
      margin-right: 25px; }
      .container-fluid header nav.right a.action {
        float: left;
        width: 100px;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 30px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: #13a89e;
        border-radius: 6px;
        transition: 0.5s; }
        .container-fluid header nav.right a.action:hover, .container-fluid header nav.right a.action.active {
          background-color: #0f9188; }
      .container-fluid header nav.right a#show_rwd_menu {
        float: right;
        width: 60px;
        height: 60px;
        background-image: url(../img/show_rwd_menu.png);
        display: none; }
  .container-fluid .page_main {
    width: 100%;
    clear: both; }
    .container-fluid .page_main img.background_image {
      width: 100%;
      display: block;
      margin-top: 60px; }
    .container-fluid .page_main h1 {
      margin: 0px;
      padding: 0px;
      position: absolute;
      width: 100%;
      height: 100px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 50px;
      line-height: 100px;
      text-align: center;
      color: #808080;
      background-color: #fff; }
    .container-fluid .page_main .presentation {
      width: 100%;
      clear: both;
      background-color: #f2f2f2;
      padding-top: 100px;
      padding-bottom: 100px; }
      .container-fluid .page_main .presentation .row {
        margin: 0px;
        padding: 0px; }
        .container-fluid .page_main .presentation .row .col-md-8 {
          float: none;
          margin-top: 100px;
          margin-left: auto;
          margin-right: auto; }
          .container-fluid .page_main .presentation .row .col-md-8 img#main_image {
            float: left;
            width: 100%;
            display: block; }
        .container-fluid .page_main .presentation .row .col-md-10 {
          float: none;
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto; }
          .container-fluid .page_main .presentation .row .col-md-10 .col-md-2 img {
            float: left;
            width: 100%;
            margin-bottom: 25px;
            display: block;
            cursor: pointer; }
    .container-fluid .page_main h2 {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 30px;
      line-height: 100px;
      text-align: center;
      color: #808080;
      background-color: #fff;
      clear: both; }
      .container-fluid .page_main h2 a {
        width: 100px;
        margin-left: 20px;
        padding: 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: #13a89e;
        transition: 0.5s; }
        .container-fluid .page_main h2 a:hover {
          background-color: #0f9188; }
    .container-fluid .page_main .content {
      float: left;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #f2f2f2;
      clear: both; }
      .container-fluid .page_main .content p {
        width: 60%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #666666; }
      .container-fluid .page_main .content p.v2 {
        text-align: justify; }
  .container-fluid .page_register {
    width: 100%;
    clear: both;
    margin-top: 60px; }
    .container-fluid .page_register .row .col-md-8 {
      float: none;
      margin-left: auto;
      margin-right: auto; }
      .container-fluid .page_register .row .col-md-8 h1 {
        margin: 0px;
        padding: 0px;
        width: 90%;
        height: 30px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 30px;
        line-height: 30px;
        color: #999999; }
      .container-fluid .page_register .row .col-md-8 form {
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto; }
        .container-fluid .page_register .row .col-md-8 form .form-group {
          float: left;
          width: 100%;
          margin-bottom: 50px; }
          .container-fluid .page_register .row .col-md-8 form .form-group label {
            width: 100%;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 16px;
            font-weight: normal;
            color: #9b9b9b; }
          .container-fluid .page_register .row .col-md-8 form .form-group input {
            width: 100%;
            height: 50px;
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: #a9a9a9;
            background-color: #e6e6e6;
            border: none;
            box-sizing: border-box; }
          .container-fluid .page_register .row .col-md-8 form .form-group textarea {
            width: 100%;
            height: 300px;
            margin-top: 10px;
            padding: 20px;
            color: #a9a9a9;
            background-color: #e6e6e6;
            border: none;
            box-sizing: border-box; }
          .container-fluid .page_register .row .col-md-8 form .form-group a#register {
            float: left;
            width: 100%;
            height: 50px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 50px;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: #13a89e;
            transition: 0.5s; }
            .container-fluid .page_register .row .col-md-8 form .form-group a#register:hover, .container-fluid .page_register .row .col-md-8 form .form-group a#register.active {
              background-color: #0f9188; }
          .container-fluid .page_register .row .col-md-8 form .form-group p {
            width: 100%;
            height: 14px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            font-weight: bold;
            color: #13a89e; }
            .container-fluid .page_register .row .col-md-8 form .form-group p a {
              color: #13a89e;
              text-decoration: underline; }
  .container-fluid .page_libary {
    width: 100%;
    clear: both;
    margin-top: 60px; }
    .container-fluid .page_libary .search_panel {
      float: left;
      width: 100%;
      height: 80px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: #e6e6e6;
      box-sizing: border-box; }
      .container-fluid .page_libary .search_panel form {
        width: 100%; }
        .container-fluid .page_libary .search_panel form input {
          float: left;
          width: 60%;
          height: 40px;
          margin-top: 20px;
          margin-bottom: 20px;
          padding-left: 10px;
          padding-right: 10px;
          color: #a9a9aa;
          background-color: #fff;
          border: none;
          box-sizing: border-box; }
        .container-fluid .page_libary .search_panel form a {
          float: left;
          width: 60px;
          height: 40px;
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 10px;
          background-color: #13a89e;
          background-image: url(../public_img/search.png);
          transition: 0.5s; }
          .container-fluid .page_libary .search_panel form a:hover {
            background-color: #0f9188; }
    .container-fluid .page_libary .content {
      width: 100%;
      clear: both; }
      .container-fluid .page_libary .content .row {
        margin: 0px;
        padding: 0px; }
        .container-fluid .page_libary .content .row .col-md-2 {
          background-color: #f2f2f2;
          padding-bottom: 50px; }
          .container-fluid .page_libary .content .row .col-md-2 a {
            float: left;
            width: 100%;
            margin-top: 50px;
            padding-left: 25px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 16px;
            text-decoration: none;
            color: #333333;
            box-sizing: border-box;
            transition: 0.5s; }
            .container-fluid .page_libary .content .row .col-md-2 a:hover, .container-fluid .page_libary .content .row .col-md-2 a.active {
              color: #13a89e; }
        .container-fluid .page_libary .content .row .col-md-10 {
          margin-top: 50px;
          margin-bottom: 100px; }
          .container-fluid .page_libary .content .row .col-md-10 .col-md-4 {
            border: 2px solid #fff;
            box-sizing: border-box;
            margin-bottom: 25px; }
            .container-fluid .page_libary .content .row .col-md-10 .col-md-4 a {
              float: left;
              width: 100%;
              transition: 0.5s; }
              .container-fluid .page_libary .content .row .col-md-10 .col-md-4 a img {
                float: left;
                width: 100%;
                height: 250px;
                display: block; }
              .container-fluid .page_libary .content .row .col-md-10 .col-md-4 a p {
                position: absolute;
                width: 100%;
                height: 50px;
                margin-top: 200px;
                padding-left: 10px;
                padding-right: 10px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 50px;
                text-align: center;
                color: #000;
                background-color: #f2f2f2;
                box-sizing: border-box;
                overflow: hidden; }
              .container-fluid .page_libary .content .row .col-md-10 .col-md-4 a:hover {
                opacity: 0.5; }
  .container-fluid .page_about {
    width: 100%;
    clear: both; }
    .container-fluid .page_about img.background_image {
      width: 100%;
      display: block;
      margin-top: 60px; }
    .container-fluid .page_about h1 {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 100px;
      text-align: center;
      color: #808080;
      background-color: #fff; }
      .container-fluid .page_about h1 a {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 10px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #fff;
        background-color: #13a89e;
        transition: 0.5s; }
        .container-fluid .page_about h1 a:hover {
          background-color: #0f9188; }
    .container-fluid .page_about .content {
      width: 100%;
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: #f2f2f2; }
      .container-fluid .page_about .content p {
        width: 60%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #666666; }
      .container-fluid .page_about .content p.v2 {
        text-align: justify; }
  .container-fluid .page_object {
    width: 100%;
    clear: both; }
    .container-fluid .page_object .top {
      width: 100%;
      margin-top: 60px; }
      .container-fluid .page_object .top img.background_image {
        width: 100%;
        max-height: 600px;
        display: block; }
      .container-fluid .page_object .top .row {
        position: absolute;
        width: 100%; }
        .container-fluid .page_object .top .row .col-md-5 {
          margin: 0px;
          padding: 0px;
          float: none;
          margin-top: 100px;
          margin-left: auto;
          margin-right: auto; }
          .container-fluid .page_object .top .row .col-md-5 .col-md-4 {
            margin: 0px;
            padding: 0px; }
            .container-fluid .page_object .top .row .col-md-5 .col-md-4 img {
              float: left;
              width: 100%;
              display: block;
              box-shadow: 2px 2px #000; }
          .container-fluid .page_object .top .row .col-md-5 .col-md-7 {
            margin: 0px;
            padding: 0px;
            float: right;
            background-color: #262626; }
            .container-fluid .page_object .top .row .col-md-5 .col-md-7 h1 {
              margin: 0px;
              padding: 0px;
              float: left;
              width: 100%;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 20px;
              line-height: 30px;
              color: #fff; }
            .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-6 {
              margin-top: 25px;
              margin-bottom: 25px; }
              .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-6 a {
                float: left;
                width: 100%;
                transition: 0.5s; }
                .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-6 a img {
                  width: 100%;
                  display: block; }
                .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-6 a:hover {
                  opacity: 0.5; }
            .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-12 {
              margin-top: 25px; }
              .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-12 a {
                float: left;
                width: 100%;
                height: 50px;
                margin-bottom: 25px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 20px;
                line-height: 50px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                transition: 0.5s; }
                .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-12 a:hover, .container-fluid .page_object .top .row .col-md-5 .col-md-7 .col-md-12 a.active {
                  background-color: #0f9188; }
    .container-fluid .page_object .content {
      width: 100%;
      clear: both; }
      .container-fluid .page_object .content .col-md-11 {
        margin: 0px;
        padding: 0px;
        float: none;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto; }
        .container-fluid .page_object .content .col-md-11 .col-md-3 {
          margin: 0px;
          padding: 0px;
          padding: 25px;
          background-color: #f2f2f2;
          box-sizing: border-box; }
          .container-fluid .page_object .content .col-md-11 .col-md-3 p.title {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 100%;
            font-size: 16px;
            line-height: 16px;
            color: #4d4d4d;
            font-weight: bold; }
          .container-fluid .page_object .content .col-md-11 .col-md-3 p.txt {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 21px;
            color: #4d4d4d; }
          .container-fluid .page_object .content .col-md-11 .col-md-3 p.justify {
            text-align: justify; }
        .container-fluid .page_object .content .col-md-11 .col-md-9 {
          padding-left: 25px;
          padding-right: 25px;
          box-sizing: border-box; }
          .container-fluid .page_object .content .col-md-11 .col-md-9 video {
            float: left;
            width: 100%;
            display: block; }
          .container-fluid .page_object .content .col-md-11 .col-md-9 form {
            float: left;
            width: 100%; }
            .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group {
              float: left;
              width: 100%;
              margin-bottom: 50px; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group label {
                width: 100%;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                color: #9b9b9b; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group input {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                color: #a9a9a9;
                background-color: #e6e6e6;
                border: none;
                box-sizing: border-box; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group textarea {
                width: 100%;
                height: 300px;
                margin-top: 10px;
                padding: 20px;
                color: #a9a9a9;
                background-color: #e6e6e6;
                border: none;
                box-sizing: border-box; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group select {
                width: 100%;
                height: 50px;
                margin-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                color: #a9a9a9;
                background-color: #e6e6e6;
                border: none;
                box-sizing: border-box; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group a.action {
                float: left;
                width: 100%;
                height: 50px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 20px;
                line-height: 50px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                color: #fff;
                background-color: #13a89e;
                transition: 0.5s; }
                .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group a.action:hover, .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group a.action.active {
                  background-color: #0f9188; }
              .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group p {
                width: 100%;
                height: 14px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                font-weight: bold;
                color: #13a89e; }
                .container-fluid .page_object .content .col-md-11 .col-md-9 form .form-group p a {
                  color: #13a89e;
                  text-decoration: underline; }
  .container-fluid .page_admin_main {
    width: 100%;
    clear: both; }
    .container-fluid .page_admin_main img.background_image {
      width: 100%;
      display: block;
      margin-top: 60px; }
    .container-fluid .page_admin_main h1 {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 50px;
      line-height: 100px;
      text-align: center;
      color: #808080;
      background-color: #fff; }
    .container-fluid .page_admin_main .row {
      margin: 0px;
      padding: 0px;
      width: 100%;
      clear: both;
      background-color: #f2f2f2; }
      .container-fluid .page_admin_main .row .col-md-8 {
        float: none;
        margin-left: auto;
        margin-right: auto; }
        .container-fluid .page_admin_main .row .col-md-8 form {
          width: 90%;
          margin-top: 50px;
          margin-left: auto;
          margin-right: auto; }
          .container-fluid .page_admin_main .row .col-md-8 form .form-group {
            float: left;
            width: 100%;
            margin-bottom: 50px; }
            .container-fluid .page_admin_main .row .col-md-8 form .form-group label {
              width: 100%;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 16px;
              line-height: 16px;
              font-weight: bold;
              color: #9b9b9b; }
            .container-fluid .page_admin_main .row .col-md-8 form .form-group input {
              width: 100%;
              height: 50px;
              margin-top: 10px;
              padding-left: 20px;
              padding-right: 20px;
              color: #a9a9a9;
              background-color: #e6e6e6;
              border: none;
              box-sizing: border-box; }
            .container-fluid .page_admin_main .row .col-md-8 form .form-group textarea {
              width: 100%;
              height: 500px;
              margin-top: 10px;
              padding: 20px;
              color: #a9a9a9;
              background-color: #e6e6e6;
              border: none;
              box-sizing: border-box; }
            .container-fluid .page_admin_main .row .col-md-8 form .form-group img {
              float: left;
              width: 200px;
              height: 200px;
              margin-top: 10px;
              margin-bottom: 10px; }
            .container-fluid .page_admin_main .row .col-md-8 form .form-group a#register {
              float: left;
              width: 100%;
              height: 50px;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 20px;
              line-height: 50px;
              font-weight: bold;
              text-decoration: none;
              text-align: center;
              color: #fff;
              background-color: #13a89e;
              transition: 0.5s; }
              .container-fluid .page_admin_main .row .col-md-8 form .form-group a#register:hover, .container-fluid .page_admin_main .row .col-md-8 form .form-group a#register.active {
                background-color: #0f9188; }
  .container-fluid footer {
    width: 100%;
    height: 120px;
    background-color: #fff;
    clear: both; }
    .container-fluid footer p.copyright {
      float: left;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 120px;
      margin-left: 25px;
      color: #999999; }
    .container-fluid footer a.logo {
      float: right;
      width: 300px;
      height: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 25px;
      background-color: red; }

/*# sourceMappingURL=lay.css.map */
